@charset "UTF-8";

header {
    background: #bbbbbb;
    padding: 20px 0px;
}

#banner {
    width: 100%;
}

.logo {
    padding-left: 50px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #ffa500;
    transition: 0.5s;
}
body {
   background: #FFFFFF;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #d14f4f;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

.titulo-centralizado {
    text-align: center;
}

.beneficios ul {
    display: inline;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}

footer {
    text-align: center;
    padding: 40px 0px;
    background: url(imagens-pag1/bg.jpg)
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 40px 0px 0px;
}